<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @customer.first_name %>, You are created order in <%= @customer.created_at %> on my site</h1>
    <p>Thanks for order and have a great day!</p>
    <p> When it executed, you will receive a message</p>
  </body>
</html>